<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkelettonAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedSegment">
    <ion-segment-button value="explab">
      <ion-label>Experiencia Laboral</ion-label>
    </ion-segment-button>
    <ion-segment-button value="certif">
      <ion-label>Certificaciones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="misdatos">
      <ion-label>MisDatos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'explab'">
    <!-- Contenido para la Opción 1 -->
    <!-- Aquí puedes incluir el componente que deseas mostrar para la opción 'explab' -->
  </div>

  <div *ngIf="selectedSegment === 'certif'">
    <!-- Contenido para la Opción 2 -->
    <!-- Aquí puedes incluir el componente que deseas mostrar para la opción 'certif' -->
  </div>

  <div *ngIf="selectedSegment === 'misdatos'">
    <!-- Contenido para la Opción 3 -->
    <!-- Aquí puedes incluir el componente que deseas mostrar para la opción 'misdatos' -->
  </div>
</ion-content>
