<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkelettonAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedSegment">
    <ion-segment-button value="explab">
      <ion-label>Experiencia Laboral</ion-label>
    </ion-segment-button>
    <ion-segment-button value="certif">
      <ion-label>Certificaciones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="misdatos">
      <ion-label>MisDatos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Contenido para la Opción experiencia labroral -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        SkelettonAPP
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="selectedSegment === 'explab'">
    <ion-item>
      <ion-input #inputempresa label="Empresa" [(ngModel)]="exp.empresa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #inputano_inicio label="Año Inicio" [(ngModel)]="exp.ano_inicio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Trabajando Actualmente" [(ngModel)]="exp.trabajando"></ion-input>
      <ion-select placeholder="Seleccione una opción" [(ngModel)]="exp.trabajando">
        <ion-select-option *ngFor="let exp of trabaja" [value]="exp.id">{{exp.tra}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Año Termino" value="YYYY" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #inputcargo label="cargo" [(ngModel)]="exp.cargo"></ion-input>
    </ion-item>    
  </div>

  <!-- Contenido para la Opción certificaciones -->

  <div *ngIf="selectedSegment === 'certif'">
    <ion-item>
      <ion-input #inputnomcerti label="Nombre Certificado" [(ngModel)]="cert.nombre"></ion-input>
    </ion-item>
    <mat-form-field>
      <mat-label>Fecha Obtención</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <ion-item>
      <ion-input label="Certificado posee fecha de expiración" [(ngModel)]="cert.expiracion"></ion-input>
      <ion-select placeholder="Seleccione una opción" [(ngModel)]="cert.expiracion">
        <ion-select-option *ngFor="let cert of certificados" [value]="cert.id">{{cert.certifi}}</ion-select-option>
      </ion-select>
    </ion-item>
    <mat-form-field>
      <mat-label>Fecha Expiración</mat-label>
      <input matInput [matDatepicker]="picker3">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>    

  </div>

  <!-- Contenido para la Opción Mis Datos -->

  <div *ngIf="selectedSegment === 'misdatos'">
    <ion-content [fullscreen]="true">
      <h1>Bienvenido!</h1>
      <ion-card>    
          <ion-item lines="none">
            <ion-label #labelCabecera> Usuario: {{data.usuario}}</ion-label>
          </ion-item>
      </ion-card>
      <h1>Información Adicional</h1>   
     
      <ion-card-content>
        <ion-item>
          <ion-input #inputNombre label="Nombre" [(ngModel)]="perfil.nombre"></ion-input>
        </ion-item>      
        <ion-item>
          <ion-input #inputApellido label="Apellido" [(ngModel)]="perfil.apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Nivel Educación" [(ngModel)]="perfil.nivel_educacion"></ion-input>
          <ion-select placeholder="Seleccione nivel" [(ngModel)]="perfil.nivel_educacion">
            <ion-select-option *ngFor="let niv of niveles" [value]="niv.id">{{niv.nivel}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
      
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </ion-content>
  </div>  

</ion-content>
